.DS_Store
setup_me.sh
update_me.sh
IFILES/
deprecated/
\#*
*~
octave-workspace
*.gz
*.avi
slepian_zero/
slepian_alpha/
slepian_bravo/
slepian_charlie/
slepian_delta/
slepian_echo/
slepian_foxtrot/
slepian_golf/
slepian_hotel/
slepian_juliet/
octave_funcs/
grdwrite2p/
*.aux
*.log
*.out
InstructionsVecSlepInversion.org
research/