.DS_Store
setup_me.sh
update_me.sh
IFILES/
\#*
*~
octave-workspace
*.gz
*.avi
slepian_alpha/
slepian_bravo/
slepian_charlie/
slepian_delta/
slepian_echo/
slepian_foxtrott/
slepian_golf/
slepian_hotel/
octave_funcs/
*.org
VecSlepInversion/